/* =================================
  Base Styles
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

header,
footer {
 text-align: center;
}

/* =================================
  Nav
==================================== */

ul {
  -webkit-padding-start:0em;
}

ul li{
  list-style: none;
}

/* =================================
  Footer Styles
==================================== */

footer.main-footer {
  padding: 1em 0;
  background-color: #90D1C6;
  color: #fff;
}
