/* =================================
  Base Styles
==================================== */


/* =================================
  Header Styles
==================================== */

header {
 text-align: center;
}

ul {
  -webkit-padding-start:0em;
}

ul li{
  list-style: none;
}
