/* =================================
  Base Styles
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* =================================
  Header Styles
==================================== */

header {
 text-align: center;
}

ul {
  -webkit-padding-start:0em;
}

ul li{
  list-style: none;
}
