<%= link_to "About the Project", about_path%>
</div>

<div class="clear"></div>
<div class="mini-nav">
  <h3>Edit Post</h3>
</div>
<% if session[:user_id] %>
  <%= render partial: 'form' %>
<% else %>
  <p>Only an Admin can do this - sorry!</p>
<% end %>
