<%= link_to "Home", posts_path%>
</div>
<div class="clear"></div>
<div class="mini-nav">
  <h3>Create a New Post</h3>
</div>

<% if session[:user_id] %>
  <%= render partial: 'form' %>
<% else %>
  <p>Only an Admin can do this - sorry!</p>
<% end %>
