<!DOCTYPE html>
<html>
  <head>
    <title>30 Projects Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1 class="logo">30 Projects Project</h1>
      <nav></nav>
    </div>
    <div class="posts">
      <%= yield %>
    </div>

    <div class="sidebar">
      <div class='current-project'>
        <h3>Current Project</h3>
        <p>CSS Animations</p>
      </div>
    </div>

    <div class="footer">
      Cassi Gallagher-Shearer Development
    </div>
  </body>
</html>
